.entry-title {
	a {
		display: block;
		text-decoration: none;
	}
}

.hentry .entry-title {
	font-size: 3em;
}

article {
	margin-top: 1em;

	+ article {
		border-top: 1px solid adjust-color($tint-color, $lightness: 20);
		padding-top: 1em;
	}
}

.meta {
	margin: .5em 0;
	font-size: .8em;
	color: $footer-color;
}

.entry-content {
	p {
		margin: 1em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		margin: 1.15em 0 0 0;
	}
}

.pagination {
	text-align: center;
	padding: .2em 0;
	font-size: .9em;
	font-weight: bold;
}

.comments {
	clear: both;
	padding-top: 2em;
}

.comments h1 {
	display: none;
}
