// Tint color
$tint-color: #99cf50 !default;

// Link colors
$link-color: $tint-color;
$link-color-hover: adjust-color($link-color, $lightness: -15) !default;
$link-color-visited: adjust-color($link-color, $lightness: -5) !default;

// Main section colors
$page-bg: #fefefe !default;

$header-bg: adjust-color($tint-color, $lightness: -5, $saturation: 10);
$title-color: #fff !default;
$subtitle-color: #aaa !default;

$text-color: #222 !default;
$text-color-light: #aaa !default;
$type-border: #ddd !default;

$code-bg: #000;
$code-color: #ddd;
$code-gutter-bg: #444;

$footer-color: #aeaeae !default;

$desktop-width: 1000px;

// Core theme application

a {
	color: $link-color;
	transition: color 250ms;

	&:hover, &:focus {
		color: $link-color-hover;
	}

	&:visited {
		color: $link-color-visited;
	}
}

html {
	background: $page-bg;
}
